/* Reset */
* {
	margin: 0;
	box-sizing: border-box;
}

html, body {
	height: 100vh;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	overflow: hidden;
}

/* Scrollbar */
::-webkit-scrollbar {
	width: 8px;
	height: 8px;
	z-index: 1;
}

::-webkit-scrollbar-track {
	background: #CCCCCC;
}
::-webkit-scrollbar-thumb {
	background: #2596be;
}

::-webkit-scrollbar-thumb:hover {
	background: #1C66B0;
}

/* Separadores <hr> */
.hr--medium {
	margin-top: 8%;
	height: 0.3em;
	background-color: #2596be;
	border: none;
}

.hr--mini {
	width: 10%;
	text-align: center;
	border-bottom: 4px solid #2596be;
	line-height: 0.1em;
	margin: 12px 15px 20px;
}

/* help tooltips */
.tooltip {
	position: relative;
	display: inline-block;
	margin-left: 1%;
	z-index: 1;
  }

.tooltip .tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 50%;
	margin-left: -60px;
	opacity: 0;
	transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
}
